/* ===========================================================
    0 - GLOBAL
    1 - HEADER
    2 - PRESG
    3 - PRESCLASSIC
    4 - PRESMETAL
    5 - PRESALIEN
    6 - PRESBELSINSKI
    7 - SLIDER
    8 - KEYFRAMES
    9 - MEDIAQUERIES
*/

/* ================================== 0 - GLOBAL ============================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "DOOM";
    src: url("../fonts/AmazDooMLeft.ttf") format("truetype"),
    url("../fonts/AmazDooMLeft2.ttf") format("truetype"),
    url("../fonts/AmazDooMLeftOutline.ttf") format("truetype"),
    url("../fonts/AmazDooMRight.ttf") format("truetype"),
    url("../fonts/AmazDooMRight2.ttf") format("truetype"),
    url("../fonts/AmazDooMRightOutline.ttf") format("truetype")
}

:root{
    --color_1:#716a4e ;
    --color_2: #4e3b35;
    --color_3: #6c4b36;
    --color_4: 	#b45e33;
    --color_5: #1c3b33;
    --color_6: #111111;
    --color_7: #e6e6e6;
}

html{
  scroll-behavior: smooth;
}
body{
  width: 100vw;
}

body::-webkit-scrollbar{
  display: none;
}

h1{
  letter-spacing: 1.5px;
}

#page{ 
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
}

.DOOM{
  font-family: 'DOOM';
}

.uppercase{
  text-transform: uppercase;
}

.relative{
  position: relative;
}
/* ================================== 0 - GLOBAL ============================== */

/* ================================== 1 - HEADER ============================== */

header{
  background-color: var(--color_6);
  width: 100%;
  padding-top: 7vh;
}
header video{
  width: auto;
  height: 70vh;
  margin: auto;
  display: block;
}
  nav{
    background-image: url('../img/texture_back.png');
    text-align: center;
    width: 100vw;
    position: fixed;
    transition: 0.4s;
    z-index: 5;
  }
  nav a{
    text-decoration: none;
    color: var(--color_7);
  }
  nav h1{
    transition: 0.4s;
  }
  nav h1:hover{
    text-decoration: none;
    color: white;
    text-shadow: var(--color_7) 1px 0 10px;
  }
  header img{
    width: 100%;
  }

  .big_nav{
    padding: 5px 0;
  }
  .big_nav a{
    font-size: 2rem;
  }
  .big_nav span{
    font-size: 2.5rem;
  }

  .small_nav{
    padding: 2px 0;
  }
  .small_nav a{
    font-size: 0.75rem;
  }
  .small_nav span{
    font-size: 1.25rem;
  }
/* ================================== 1 - HEADER ============================== */

/* ================================== 2 - PRES ============================== */

#Presentation{
  text-align: center;
  padding: 0 15% 100px 15%;
}
#Presentation article{
  display: none;
  text-align: left;
}
#Presentation .block{
  display: block;
  animation: FadeIn 2s;
}
#Presentation ul{
  display: flex;
  list-style: none;
}
#Presentation ul li{
  margin: 10px 5px;
}
#Presentation ul li a{
  text-decoration: none;
  color: var(--color_6);
}
.firstpres{
  margin: 20px 0;
  position: relative;

}
.firstpres::after{
  content: " ";
  margin-top: 5px;
  width: 80%;
  height: 5px;
  display: block;
  transform: skew(-50deg, 0deg);
  z-index: -1;
  animation: translate 2s;
}

  #Presentation h1{
    text-align: center;
    font-size: 4rem;
    background-image: url('../img/texture_back.png');
    width: 150%;
    margin-left: -25%;
    padding-top: 3vh;
    color: var(--color_7);
    margin-top: -5px;
    box-shadow: var(--color_7) 5px -10px 5px inset;
    margin-bottom: 5vh;
  }
  #Presentation p{
    font-size: 1.5rem;
  }

  #Presentation div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
  }
  #Presentation div p{
    width: 35%;
    min-width: 300px;
    margin: auto;
    position: relative;
    padding-left: 20px;
    margin: 20px
  }
  #Presentation div img{
    width: 35%;
    min-width: 300px;
    margin: auto;
    border: 5px solid var(--color_6);
    transition: 0.8s;
    margin: 20px;
  }

  #Presentation div img:hover{
    transform: scale(1.1);
    border: 5px dashed var(--color_6);
  }
  #Presentation div h2{
    width: 100%;
    text-align: center;
    border-bottom: 5px var(--color_6) dashed;
    padding-bottom: 2.5vh;
    margin-bottom: 2.5vh;
  }
  
/* ================================== 2 - PRES ============================== */

/* ================================== 3 - PRESG ============================== */

#presG h1::after{
  background-color: var(--color_3);
}
#presG p:first-of-type:after{
  content: " ";
  width: 35px;
  height: 35px;
  background-color: var(--color_3);
  display: block;
  border-radius: 50%;
  margin:2vh auto;
}
#presG p:first-of-type{
  padding-top: 5vh;
}
#presG ul li{
  border-bottom: 2px solid var(--color_3);
}
/* ================================== 3 - PRESG ============================== */

/* ================================== 4 - PRESCLASSIC ======================== */

#presClassic h1::after,#presClassic .firstpres::after{
  background-color: var(--color_2);
}
#presClassic div p{
  border-left: var(--color_2) 5px solid;
}
#presClassic ul li{
  border-bottom: 2px solid var(--color_2);
}

/* ================================== 4 - PRESCLASSIC ========================= */

/* ================================== 5 - PRESMETAL ========================= */

#presMetal h1::after,#presMetal .firstpres::after{
  background-color: var(--color_4)
}
#presMetal div p{
  border-left: var(--color_4) 5px solid;
}
#presMetal ul li{
  border-bottom: 2px solid var(--color_4);
}
/* ================================== 5 - PRESMETAL ========================= */

/* ================================== 5 - PRESALIEN ========================= */

#presAlien h1::after,#presAlien .firstpres::after{
  background-color: var(--color_5)
}
#presAlien div p{
  border-left: var(--color_5) 5px solid;
}
#presAlien ul li{
  border-bottom: 2px solid var(--color_5);
}
/* ================================== 5 - PRESALIEN ========================= */

/* ================================== 6 - PRESBELSINSKI ======================= */

#presBelsinski h1::after,#presBelsinski .firstpres::after{
  background-color: var(--color_1)
}
#presBelsinski div p{
  border-left: var(--color_1) 5px solid;
}
#presBelsinski ul li{
  border-bottom: 2px solid var(--color_1);
}
/* ================================== 6 - PRESBELSINSKI ======================= */

/* ================================== 7 - SLIDER ============================== */

#navigation{
  background-color: var(--color_6);
}
#navigation:hover{
  cursor: pointer;
}

#slider{
  height: 50vh;
  width: 100%;
}
#slider .block{
  opacity: 1;
  pointer-events: visible;
}

#slider>article{
  opacity: 0;
  position: absolute;
  transition: 0.8s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  min-width: 300px;
  pointer-events: none;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#slider>article:hover{
  filter: grayscale(0%);
}

#slider>article>a{
  text-decoration: none;
  color: var(--color_7);
  width: 100%;
  height: 100%;
  display: block;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.8s;
}
#slider>article>a:hover{
  opacity: 0.15;
}
#slider>article>a:hover + .inslide{
  opacity: 1;
}

#slider>article div p{
  text-align: right;
  font-size: 1rem;
}
#navigation .inslide{
  background-color: var(--color_7);
  color: var(--color_6);
  height: 44px;
  width: 80px;
  position: relative;
  vertical-align: middle;  
}

#navigation button{
  z-index: 2;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  color: var(--color_7);
  background-color: transparent;
  border: 1px var(--color_7) solid;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 0.3s;
}
#navigation button:hover{
  border-radius: 12.5px;
  background-color: rgba(255, 255, 255, 0.25);
}

#navigation #pre{
  left: 3%;
}

#navigation #sui{
  right: 3%;
}
#slider #classic{
  background-image: url('../img/pandemonium.jpeg');
}
#slider #metal{
  background-image: url('../img/dio.jpeg');
  background-position: top;
}
#slider #alien{
  background-image: url('../img/alien_colony.jpeg');
}
#slider #belsinski{
  background-image: url('../img/ruin_belsinski.jpeg');
  background-position: center;
}
/* ================================== 7 - SLIDER ============================== */

/* ================================== 8 - KEYFRAMES =========================== */
@keyframes FadeIn{
  from{
    opacity: 0.25;
  }to{
    opacity: 1;
  }
}

@keyframes translate{
  from{
    width: 0px;
  }to{
    width: 80%;
  }
}
/* ================================== 8 - KEYFRAMES =========================== */

/* =================================== 9 - MEDIAQUERIES ========================*/
@media screen and (max-width: 750px) {
  #slider>article>a{
    text-decoration: underline;
    font-size: 1rem;
  }
  #Presentation h1{
    font-size: 3.5rem;
  }
  #navigation .inslide{
    margin-top: 30px;
  }
  .big_nav a{
    font-size: 1rem;
  }
  .big_nav span{
    font-size: 2rem;
  }
}