/* ===========================================================
    0 - GLOBAL
    1 - HEADER
    2 - PRES
*/

/* ================================== 0 - GLOBAL ============================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "DOOM";
    src: url("../fonts/AmazDooMLeft.ttf") format("truetype"),
    url("../fonts/AmazDooMLeft2.ttf") format("truetype"),
    url("../fonts/AmazDooMLeftOutline.ttf") format("truetype"),
    url("../fonts/AmazDooMRight.ttf") format("truetype"),
    url("../fonts/AmazDooMRight2.ttf") format("truetype"),
    url("../fonts/AmazDooMRightOutline.ttf") format("truetype")
}

:root{
    --color_1:#716a4e ;
    --color_2: #4e3b35;
    --color_3: #6c4b36;
    --color_4: 	#b45e33;
    --color_5: #1c3b33;
    --color_6: #111111;
    --color_7: #e6e6e6;
}

body::-webkit-scrollbar{
  display: none;
}

h1{
  letter-spacing: 1.5px;
}

#page{ 
    display: none;
    font-family: 'roboto';
    width: 100vw;
}

.DOOM{
  font-family: 'DOOM';
}

.uppercase{
  text-transform: uppercase;
}

.relative{
  position: relative;
}

/* ================================== 0 - GLOBAL ============================== */

/* ================================== 1 - HEADER ============================== */

header{
  width: 100%;
  padding-top: 7vh;
}
  nav{
    background-image: url('../img/texture_back.png');
    text-align: center;
    width: 100vw;
    position: fixed;
    transition: 0.4s;
    z-index: 5;
  }
  nav a{
    text-decoration: none;
    color: var(--color_7);
    transition: 0.4s;
  }
  header img{
    width: 100%;
  }
span{
  transition: 0.4s;
}

  div div{
    font-size: 50px;
  }

  .big_nav{
    padding: 5px 0;
  }
  .big_nav a{
    font-size: 2rem;
  }
  .big_nav span{
    font-size: 3rem;
  }

  .small_nav{
    padding: 2px 0;
  }
  .small_nav a{
    font-size: 0.75rem;
  }
  .small_nav span{
    font-size: 1.25rem;
  }
/* ================================== 1 - HEADER ============================== */

/* ================================== 2 - PRES ============================== */

#Presentation{
  text-align: center;
  padding: 100px 15%;
}
  #Presentation h1{
    text-align: left;
    font-size: 2rem;
  }
    #Presentation h1::after{
      content: " ";
      width: 200px;
      height: 5px;
      background-color: var(--color_1);
      display: block;
      transform: skew(50deg, 0deg);
    }
    #Presentation p:first-of-type{
      padding-top: 5vh;
      padding-bottom: ;
    }
    #Presentation p:first-of-type:after{
      content: " ";
      width: 35px;
      height: 35px;
      background-color: var(--color_1);
      display: block;
      border-radius: 50%;
      margin:2vh auto;
    }
  #Presentation p{
    font-size: 1.5rem;
  }

/* ================================== 2 - PRES ============================== */

/* ================================== 3 - SLIDER ============================== */

#slider .block{
  display: block;
}
#slider >div{
  display: none;
}

/* ================================== 3 - SLIDER ============================== */